
Na stránkach {{ absolute_url(path('online-poradna')) }} bola zanechaná otázka:


E-mail:			{{ data['email'] }}
Otázka:			{{ data['otazka'] }}

Odpoveď môžete editovať na tejto linke: <a href="{{ editurl }}">{{ editurl }}</a>
------------------------------------

Táto požiadavka bola vygenerovaná dňa {{ datum }} z IP adresy: {{ IPadress }}
